{% load staticfiles %}
{% load discount_tags %} 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static "discount/images/favicon.ico" %}" type="image/vnd.microsoft.icon" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<link href="{% static "discount/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "discount/css/fonts.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "discount/css/styles.css" %}{% get_timestamp %}">
<link href="{% static "discount/css/media.css" %}{% get_timestamp %}{% get_timestamp %}" rel="stylesheet">


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">