{% extends "discount/base/base.html" %}

{% load account %}


{% block content %}
<div class="full-login">
<h5>Войти</h5>

<p>Если Вы еще не зарегистрированы, пожалуйста,
<a href="{{ signup_url }}">зарегистрируйтесь</a></p>


<form class="login form" method="POST" action="{% url 'discount:full-login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
 
  <button class="primaryAction" type="submit">Войти</button>
  <a class="forget button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>

</form>
</div>
{% endblock %}
