<div class="title"><h1>Размещение на главной странице</h1></div>
<hr></hr>
<div class="to-main-page">
<h1 class="title-left">Разместить акцию на главной странице</h1>
<h3>Размещение на главной в разделе - "Спецразмещение"</h3>
<div class="instructions">
	<h5>Шаг 1. </h5> Разместить баннер и дождаться его проверки <a href="{% url 'discount:product-banners' product.pk %}">Управление баннерами для спецразмещений</a>
(Вы можете согласовать сразу несколько баннеров и менять их по мере необходимости).
    Баннер должен быть формата 360 * 200 точек.
</div>
	<div class="instructions">
		<h5>Шаг 2. </h5> Выбрать даты и вид размещения, и подтвердить размещение <a href="{% url 'discount:product-actions' product.pk %}">Управление размещением на главной странице</a>
</div>

<h3>Размещение на главной странице в разделе – "Категория"</h3>
	<div class="instructions">
		<h5>Шаг 1. </h5> Выбрать даты и вид размещения, а далее подтвердить размещение <a href="{% url 'discount:product-actions' product.pk %}">Управление размещением на главной странице</a>

(Согласовать баннер дополнительно нет необходимости, баннер дублируется из базового размещения)


</div>


</div>