{% load discount_tags %}
<div class="product-actions-brief">
<a class="button" href="{% url 'discount:product-actions' product.pk %}">Размещение на главной</a>
<a class="button" href="{% url 'discount:product-banners' product.pk %}">Баннеры для размещения на главной</a>
{% with all_actions=actions.all all_banners=banners.all %}
 {% if all_actions.count > 0 or all_banners.count > 0 %}
    <h1 class="title-left">Размещение на главной</h1>

<div>
{% for action in all_actions %}
  <div class="item">
<div><label>Дата начала:</label>{{ action.start_date }}</div>
<div><label>Дата окончания:</label>{{ action.end_date }}</div>
<div><label>Тип акции:</label>{{ action.action_type_text }}</div>
<div><label>Статус:</label>{{ action.status_text }}</div>
<div><label>Подтверждена:</label>{{ action.start|bool_as_yes }}</div>
 {% if action.banner %}
<label class="label-top">Баннер:</label>
     <div class="field"><img src='{{ action.banner.banner.thumb180 }}'></div>
{% endif %}

           {% if action.points_spent %}
            <div>
          <label>Потрачено на акцию:</label>{{ action.points_spent }}
        </div>
        {% endif %}

        {% if action.points_blocked %}
            <div>
          <label>Заблокировано на акцию:</label>{{ action.points_blocked }}
        </div>
        {% endif %}

  </div>

{% endfor %}

</div>
	<h1 class="title-left">Баннеры для размещения на главной</h1>
    <div class="banners clearfix">
{% for banner in all_banners %}
 <div class="banner-field">
<div><img src='{{ banner.banner.thumb180 }}'></div>
	 <div class="form-status">{{ banner.status_text }}</div>
 </div>
{% endfor %}
</div>
{% endif %}
{% endwith %}
    </div>