{% extends 'discount/base/base.html' %}
{% load discount_tags %}

{% block content %}
<form class="fltr action-days" id="action-days-form" method="get">
    
	<div class="item select-item line-1 inline-b">
    {{ form.action_type.label_tag }}
		{{ form.action_type.errors }}
   <div class="select-border inline-b"><div class="select-outer">
    {{ form.action_type }}
	</div>
	<a class="select-btn"></a>
	</div>
	
	</div>
	
	
    <div id="category-select-block" class="inline-b hidden">
    
		<div class="item select-item inline-b">
    {{ form.category.label_tag }}
		{{ form.category.errors }}
	<div class="select-border  inline-b"><div class="select-outer">
    {{ form.category }}
	</div>
	<a class="select-btn"></a>
	</div>
	
	</div>
</div>
	<div class="item inline-b">
    {{ form.start_date.label_tag }}
		<div class="field  inline-b">
			{{ form.start_date.errors }}
		{{ form.start_date }}
		
		</div>
	</div>
	
	<div class="item inline-b">
    {{ form.end_date.label_tag }}
		<div class="field  inline-b">
			{{ form.end_date.errors }}
		{{ form.end_date }}
		
		</div>
	</div>
   

   
    <input type=submit name="submit" value="Проверить">
    
</form>


<div class="days">
{% for day in days %}
    {% with count=days|get_item:day  %}
    {% if count > 0 %}
    <span class="available">{{ day }} ({{ count }})</span>
    {% else %}
    <span class="unavailable">{{ day }}</span>
    {% endif %}

{% endwith %}
    {% endfor %}
</div>

<div class="days-desc"> <span class="available">Зеленым</span> цветом показаны доступные дни, <span class="unavailable">красным</span> - недоступные. В скобках указано количество свободных мест. </div>


    <script>
     $(function() {
     $('#id_action_type').change(function(e){
     categorySelectBlockChanger();

     });

var categorySelectBlockChanger = function(){
    var val = $('#id_action_type').val();
      if(val == 1){
    $('#category-select-block').addClass('hidden');
      }
     if(val == 2){
    $('#category-select-block').removeClass('hidden');
      }


}
categorySelectBlockChanger();
     });

    </script>


{% endblock content %}