{% extends 'discount/base/base.html' %}
{% load discount_tags %}


{% block content %}

<h1 class="title-left">
 {{ product }}
</h1>


<form class="form product-actions-form" method="post" id="product-actions-form">
{% csrf_token %}


<div id="action-formset">



{{ action_formset.non_form_errors }}
{{ action_formset.management_form }}
			
			{% for form in action_formset %}

		<div class="form-group clearfix">
			{{ form.non_field_errors }}




		<div class="item">
			{{ form.action_type.label_tag }}
			<div class="field inline-b  wrapper">
			<div class="select-border inline-b"><div class="select-outer">
				{{ form.action_type }}
			</div><a class="select-btn"></a></div>
			{{ form.action_type.errors }}
			</div>	
		</div>

		<div class="item">
			{{ form.start_date.label_tag }}
			<div class="field inline-b  wrapper">
			{{ form.start_date|field_with_classes:'date-input' }}
			{{ form.start_date.errors }}
			</div>
		</div>

		<div class="item">
			{{ form.end_date.label_tag }}
			<div class="field inline-b  wrapper">
			{{ form.end_date.errors }}
			{{ form.end_date|field_with_classes:'date-input' }}
			</div>
		</div>

        <div class="item">
			{{ form.banner.label_tag }}
			<div class="field inline-b  wrapper">
			<div class="select-border inline-b"><div class="select-outer">
			{{ form.banner }}
			</div><a class="select-btn"></a></div>
			{{ form.banner.errors }}
			</div>
		</div>

			<div class="item string">
			{{ form.start.label_tag }}
			<div class="field inline-b  wrapper">
			{{ form.start.errors }}
			{{ form.start }}
			</div>
			</div>

            {% if form.instance.points_spent %}
			  <div class="string">
          <label>Потрачено на акцию:</label>{{ form.instance.points_spent }}
        </div>
        {% endif %}

        {% if form.instance.points_blocked %}
			  <div class="string">
          <label>Заблокировано на акцию:</label>{{ form.instance.points_blocked }}
        </div>
        {% endif %}

			  <div class="string will-be-spent">
        </div>

			  <div class="string will-be-blocked">
        </div>




			{% if not form.disable_delete %}
            <div class="hidden">
                {{ form.DELETE }}
			</div>
            {% endif %}
 			<div class="hidden">
			{{ form.id }}
			{{ form.product }}
			{{ form.shop }}
  </div>

 </div>

    {% endfor %}

<div class="submit-buttons">
<input class="inline-b" type="submit" value="Подтвердить">
<div id="to-pay-warning" class="inline-b"></div>
<div class="out-button white"><a class="button" href="{% url 'discount:product-detail' product.pk %}">Выйти без сохранения</a></div>
</div>


</div>

</form>

<script>



$(function() {

var frm = $('.product-actions-form');
function to_pay_warning_changer(){

$.ajax({
                type: 'post',
                url: '{%   url 'discount:product-get-to-pay' product.pk %}',
                data: frm.serialize(),
                success: function (data) {
                if(data.to_pay > 0) {
                    $('#to-pay-warning').html('При подтверждении с Вашего счета будет списано ' + data.to_pay + ' рублей');
                }
                    else{
                $('#to-pay-warning').html('');
                }
                },
                error: function (data) {
                    $('#to-pay-warning').html('');
                }
});


}


$('.product-actions-form input, .product-actions-form select').change(function(e){

to_pay_warning_changer();

});

to_pay_warning_changer();
});






</script>


{% endblock content %}
