{% extends 'discount/base/base.html' %}


{% block content %}

<div class="subs-confirmation">

<h1>Пожалуйста, подтвердите следующее действие:</h1>

    {% if action_type == 'cancel-planned' %}
 Отмена запланированной подписки {{ planned_subscription_type.link }}
{% elif action_type == 'enable-autopay' %}
    Включение автопродления для текущего тарифа {{ active_subscription_type.link }}
 {% elif action_type == 'disable-autopay' %}
    Отключение автопродления для текущего тарифа {{ active_subscription_type.link }}
{% elif action_type == 'confirm-plan' %}
    Перейти на тариф {{ planned_subscription_type.link }} после завершения текущей подписки
 {% elif action_type == 'confirm-now' %}

        Активировать тариф {{ new_subscription_type.link }} немедленно и заплатить {{ to_pay }}
{% endif %}

<div class="subs-confirmation-buttons">
<form method="post" action="{% url 'discount:subscription-confirm' %}">

{% csrf_token %}
<input type="hidden" value="{{ subscription_pk }}" name="subscription-pk">
<input type="hidden" value="{{ to_pay }}" name="to-pay">
<input type="hidden" value="{{ action_type }}" name="action-type">
{% if show_confirm %}
 <input type="submit" value="Подтвердить" name="confirm">
{% else %}
 Недостаточно денег для платежа
{% endif %}
<input class="white" type="submit" value="Отмена" name="cancel">
</form>
</div>

</div>

{% endblock content %}