{% extends 'discount/base/base.html' %}

{% block content %}
{% if active_subscription %}
<div class="subs-block">
		<div class="title"><h1>Активная подписка</h1></div>
		<div>		{{ active_subscription.subscription_type.link }}		</div>
		<div>
			<div>
				<label>Дата начала:</label>{{ active_subscription.start_date }}
			</div>
			<div>
				<label>Действует до:</label>{{ active_subscription.end_date }}
			</div>
		</div>
		{% if active_subscription.subscription_type.price > 0 %}
		{% if active_subscription.auto_pay %}
		<a class="link" href="{% url 'discount:subscription-disable-autopay' %}">Отменить автопродление</a>
		{% else %}
		<a class="link"href="{% url 'discount:subscription-enable-autopay' %}">Включить автопродление</a>
		{% endif %}
		{% endif %}
</div>
{% endif %}

{% if planned_subscription %}

<div class="subs-block">
	<div class="title">
		<h1>Запланированная подписка</h1>
	</div>
	<div>
		{{ planned_subscription.subscription_type.link }}
	</div>
	<div>
		<div>
			<label>Дата начала:</label>{{ planned_subscription.start_date }}
		</div>
		<div>
			<label>Действует до:</label>{{ planned_subscription.end_date }}
		</div>
		<a class="link" href="{% url 'discount:subscription-cancel-planned'%}">Отменить</a>

	</div>
</div>
{% endif %}

<div class="subs-block clearfix">
	<div class="title">
		<h1>Доступные тарифы</h1>
	</div>
	{% for subscription in available_subscriptions %}
	<div class="rate">

		<div class="sub-title">{{ subscription.link }}</div>
		<div class="" >
			<label>Цена:</label>{{ subscription.price }}</div>
		{% if subscription.additional_price %}
		<div class="inline-b">
			<label>Доплата за переход:</label>{{ subscription.additional_price }}</div>
		{% endif %}

		<div class="">
		<input type="hidden" value="{{ subscription.pk }}" name="subscription-type"> {% if active_subscription %} {% if subscription.additional_price %}
		<a class="rate-link now" href="{% url 'discount:subscription-confirm-now' subscription.pk %}">Перейти на этот тариф немедленно(Доплата {{ subscription.additional_price }}</a>
		<a class="rate-link" href="{% url 'discount:subscription-confirm-plan' subscription.pk %}">Перейти на этот тариф после завершения текущего</a> {% else %}
		<a class="rate-link" href="{% url 'discount:subscription-confirm-plan' subscription.pk %}">Перейти на этот тариф после завершения текущего</a> {% endif %} {% else %}
		<a class="rate-link" href="{% url 'discount:subscription-confirm-now' subscription.pk %}">Включить этот тариф(Оплата {{ subscription.price }})</a> {% endif %}
		</div>
	</div>

	{% endfor %}
</div>
{% endblock content %}